<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Фон</title>
  <style>
    body {
      background: url(https://www.logo.wine/a/logo/A.C._Milan/A.C._Milan-Logo.wine.svg)no-repeat;
      moz-background-size: 100%;
      webkit-background-size: 100%;
      background-size: 100%;
      <body style="background-attachment:fixed" topmargin="0"
    }
  </style>
</head>
<body>
<p>...</p>
</body>
</html>
<h2><%= @heading %></h2>
<p><%= @text %></p>